
/*----------------------------------------------------*/
// Imports
@import 'partials/_reset';
@import 'partials/_clearfix';

$medium: "only screen and (max-width: 600px)";
$red: red;

@mixin med {
  @media #{$medium} {
    & { @content;
    }
  }
}


.small-image {
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* IE 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}

.small-image:hover {
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
   transform:scale(1.1);
}

body {
  background-image: url("./../img/bg_white.jpg");
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // -webkit-transform: translateZ(-999px) scale(2);
  //     transform: translateZ(-999px) scale(2);
  //     // z-index: 3;
}

#regbutton {
  padding: 5px;
  // text-decoration: none;
  background-color: #94A6B1;
  // color: white;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#regtext {
  text-decoration: none;
  color: #e7e7e7;
}

.hbutton {
  text-decoration: underline;
  color: #94A6B1;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#logindiv {
  padding:30px 0px 0px 40px;
}

#loginbutton {
  box-sizing: border-box;
}

#logoutbutton {
  box-sizing: border-box;
}

#head_all {
  margin: 50px 0px 0px 0px;
  height: 130px;
  display: flex;
  /*background-color: green;*/
  width: 90%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center
}

.double-container {
  border-top: 1px solid #ccc;
  padding: 0px 0px 0px 0px;
  position: relative;
  margin: 20px 0px 20px 50px;
  // background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.header-container {
  margin: 0px 0px 0px 0px;
  height: 90px;
  width: 47%;
  // background-color: red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.header-title {
  align-self: flex-start;
  // background-color: blue;
}

.header-title a{
  text-decoration: none;
}

#architekt_header {
  color: #94A6B1;
  font-size: 46px;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 20px 0px 0px 0px;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#head_text{
  position: relative;
  left: 120px;
  margin: 0px 120px 10px 0px;
  height: 0px;
  width: 35%;
  align-self: flex-end;
  color: #999;
  border-left: 1px solid #ccc;
  /*background-color: yellow;*/
  box-sizing: border-box;
  padding: 0px 30px 60px 5px;
    @include med{
      display: none;
    }
  /*flex: 10 0 35%;*/
}

#side_text {
  width: 90%;
  line-height: 8px;
  color: #ccc;
  font-size: 7px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  // background-color: green;
    @include med{
      display: none;
    }
}

.small-item-master{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.smallitem-container{
  max-width: 32%;
  min-width: 26%;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.small-image{
  max-height: 250px;
  max-width: 250px;
  min-height: 150px;
  min-width: 150px;
}

.description-holder-small{
  padding-top: 10px;
  padding-bottom: 30px;
  align-self: flex-start;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 12pt;
}
