
/*----------------------------------------------------*/
// Imports
@import 'partials/_reset';
@import 'partials/_clearfix';

$medium: "only screen and (max-width: 600px)";
$red: red;

@mixin med {
  @media #{$medium} {
    & { @content;
    }
  }
}

#head_all {
  height: 130px;
  display: flex;
  /*background-color: green;*/
  width: 90%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center
}

.double-container {
  position: relative;
  margin: 90px 0px 20px 50px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.header-container {
  margin: 0px 0px 0px 0px;
  height: 90px;
  width: 47%;
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.header-title {
  align-self: flex-start;
  background-color: blue;
}

.header-title a{
  text-decoration: none;
}

#architekt_header {
  color: $red;
  font-size: 46px;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 20px 0px 0px 0px;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#head_text{
  position: relative;
  left: 120px;
  margin: 0px 120px 10px 0px;
  height: 0px;
  width: 35%;
  align-self: flex-end;
  color: #999;
  border-left: 1px dashed #ccc;
  /*background-color: yellow;*/
  box-sizing: border-box;
  padding: 0px 30px 60px 5px;
    @include med{
      display: none;
    }
  /*flex: 10 0 35%;*/
}

#side_text {
  width: 90%;
  line-height: 8px;
  color: #ccc;
  font-size: 9px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  background-color: green;
    @include med{
      display: none;
    }
}

.small-item-master{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.smallitem-container{
  max-width: 32%;
  min-width: 26%;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.small-image{
  max-height: 250px;
  max-width: 250px;
  min-height: 150px;
  min-width: 150px;
}

.description-holder-small{
  padding-top: 10px;
  padding-bottom: 30px;
  align-self: flex-start;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 12pt;
}
