/*----------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.small-image {
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease; }

.small-image:hover {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1); }

body {
  background-image: url("./../img/bg_white.jpg");
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#regbutton {
  padding: 5px;
  background-color: #94A6B1;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

#regtext {
  text-decoration: none;
  color: #e7e7e7; }

.hbutton {
  text-decoration: underline;
  color: #94A6B1;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

#logindiv {
  padding: 30px 0px 0px 40px; }

#loginbutton {
  box-sizing: border-box; }

#logoutbutton {
  box-sizing: border-box; }

#head_all {
  margin: 50px 0px 0px 0px;
  height: 130px;
  display: flex;
  /*background-color: green;*/
  width: 90%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center; }

.double-container {
  border-top: 1px solid #ccc;
  padding: 0px 0px 0px 0px;
  position: relative;
  margin: 20px 0px 20px 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }

.header-container {
  margin: 0px 0px 0px 0px;
  height: 90px;
  width: 47%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }

.header-title {
  align-self: flex-start; }

.header-title a {
  text-decoration: none; }

#architekt_header {
  color: #94A6B1;
  font-size: 46px;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 20px 0px 0px 0px;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

#head_text {
  position: relative;
  left: 120px;
  margin: 0px 120px 10px 0px;
  height: 0px;
  width: 35%;
  align-self: flex-end;
  color: #999;
  border-left: 1px solid #ccc;
  /*background-color: yellow;*/
  box-sizing: border-box;
  padding: 0px 30px 60px 5px;
  /*flex: 10 0 35%;*/ }
  @media only screen and (max-width: 600px) {
    #head_text {
      display: none; } }

#side_text {
  width: 90%;
  line-height: 8px;
  color: #ccc;
  font-size: 7px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
  @media only screen and (max-width: 600px) {
    #side_text {
      display: none; } }

.small-item-master {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between; }

.smallitem-container {
  max-width: 32%;
  min-width: 26%;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px; }

.small-image {
  max-height: 250px;
  max-width: 250px;
  min-height: 150px;
  min-width: 150px; }

.description-holder-small {
  padding-top: 10px;
  padding-bottom: 30px;
  align-self: flex-start;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 12pt; }
