.header-master {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: yellow
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: green
}

#architekt_header{
  text-decoration: none;
}