div.row.header-master#head_all
  div.row.header-container
    div.row.header-title
      a(href='/gallery')
        h1#architekt_header  _ARCHITEKT
    div#head_text
      p#side_text Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovate steps. Free Architect WordPress Theme