<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(rel="stylesheet" type="text/css" href="css/styles.css")
    //- style
    //-     include ../css/styles.css
  body
    include header
      script(type="text/javascript")
