html
  meta(charset="UTF-8")
  head
    title Express Gallery
<<<<<<< HEAD
    link(rel="stylesheet" type="text/css" href="css/styles.css")
    //- style
    //-     include ../css/styles.css
=======
    link(rel='stylesheet', href='/css/styles.css')
>>>>>>> andrew_master
  body
    include header