<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(link rel="stylesheet" type="text/css" href="mystyle.css")
  body
    include ./header.jade
  | <script type="text/javascript">
  | </script>
