html
  meta(charset="UTF-8")
  head
    title Express Gallery
<<<<<<< HEAD
    link(rel='stylesheet', href='/css/styles.css')
=======
    link(rel="stylesheet" type="text/css" href="css/styles.css")
    //- style
    //-     include ../css/styles.css
>>>>>>> 35e43531ca8950b3370915bcccf32bd86ce77364
  body
    include header