include layout

block content
div#logindiv
  br
  form(method="POST" action="/login")
    p
      input(type="text" name="username" placeholder="username")
    p
      input(type="password" name="password" placeholder="password")
    br
    p
      button(type="submit") Login
  br
  br
  div#regbutton
    a#regtext(href='/createuser')
      h3 Register for New User Account