include layout

div#logindiv
  h1 hello
  h1 login form
  form(method="POST" action="/login")
    p
      input(type="text" name="username" placeholder="username")
    p
      input(type="password" name="password" placeholder="password")
    p
      button(type="submit") Login

  form(method="GET" action="/createuser")
    p
      button(type="submit") Register