<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Gallery authentication
body Hi there!
  h1 login form
  form(method="POST" action="/login")
    input(type="text" name="username")
    input(type="password" name="password")
    button(type="submit") Login
  form(method="POST" action="/createuser") Create account

