include layout

h1 New Post
form(action='/gallery' method='post')

  div
    label(for='image_url') URL
    input(type='text' name='image_url' placeholder='http://' id='image_url')

  div
    label(for='title') Title
    input(type='text' name='link' placeholder='title' id='title')

  div
    label(for='description') Description
    input(type='text' name='description' placeholder='Describe your image here' id='description')

  div.button
    button(type='submit') Send