include layout

block content
  h1 Create account
  form(method="POST" action="/createuser")
    p
      input(type="text" name="username" placeholder="username")
    p
      input(type="password" name="password" placeholder="password")
    p
      input(type="text" name="email" placeholder="email")
    p
      button(type="submit") Create account