<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title New User
body
  h1 Create account
  form(method="POST" action="/createuser")
    p
      input(type="text" name="username" placeholder="username")
    p
      input(type="password" name="password" placeholder="password")
    p
      input(type="text" name="email" placeholder="new users only")
    p
      button(type="submit") Create account